* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}

/* Main Page  */

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Header Section */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

.navbar {
  display: flex;
  align-items: center;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  background-clip: text;
  color: transparent;
}

/* Navigation Bar */

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: var(--main-color);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 4rem;
}

.gradient-btn i {
  font-size: 2rem;
}

.gradient-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--main-color);
}

section {
  min-height: 100vh;
  padding: 10rem 15%;
}

/* Home Section */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  padding-top: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-top: 3rem;
}

.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}

.home-content p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
}

.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

/* Icon Styling */

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

/* Button Styling */

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color), 0 0 25px var(--main-color);
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

/* About Section */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: var(--second-bg-color);
}

.about-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 25px var(--main-color),
    0 0 25px var(--main-color);
}

.about-content h2 {
  font-size: 7rem;
  text-align: left;
}

.about-content p {
  font-size: 1.8rem;
}

.about-content .btn {
  margin: 3rem 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

/* Services Section */

.services {
  background-color: var(--bg-color);
  color: black;
}

.services h2 {
  color: var(--text-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.service-box:hover {
  background-color: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.service-info h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}

.service-info i {
  font-size: 8rem;
}

.service-info p {
  font-size: 2rem;
}

/* Projects Section */

.projects {
  background-color: var(--second-bg-color);
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 15rem;
  row-gap: 3rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  transform: scale(1.02);
}

.project-card img {
  max-width: 300px;
  border-radius: 2em;
  object-fit: cover;
  filter: blur(10px);
}

#bikeloversden {
  filter: none;
}

#industri {
  filter: none;
}

#elevate360 {
  filter: none;
}

.project-card h3 {
  font-size: 3rem;
}

.project-card p {
  font-size: 1.6rem;
}

/* Contact Form  */

.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

/* Footer Section */

.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}

.footer .social-icons {
  text-align: center;
}

.footer ul {
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

@media (max-width: 1285px) {
  #menu-icon {
    display: block;
  }

  .header {
    padding: 4rem 5%;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.811);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  .gradient-btn {
    margin-left: 2rem;
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
  }

  .gradient-btn i {
    font-size: 1.8rem;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
    padding-top: 18rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-img img {
    width: 56vw;
  }
  .about {
    flex-direction: column-reverse;
    margin: 2rem 0;
  }
  .about img {
    width: 52vw;
  }
  .contact form {
    flex-direction: column;
  }
}

/* Skills Section */
.skills {
  background-color: var(--second-bg-color);
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0 3%;
}

@media (max-width: 1024px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-box {
    width: 100%;
    max-width: 400px;
  }
}

.skills-box {
  background-color: var(--bg-color);
  padding: 4rem;
  border-radius: 3rem;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
  width: calc(33.33% - 2.7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-box:hover {
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.02);
}

.skills-box h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  place-items: center;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .skills-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  text-align: center;
}

.skill i {
  font-size: 4rem;
  color: var(--main-color);
}

.skill span {
  font-size: 1.5rem;
  text-align: center;
}

/* Education Timeline Section */
.education {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 10rem 15% 5rem;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 5rem auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background: var(--main-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--main-color);
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-content {
  padding: 3rem;
  background: var(--second-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  position: relative;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
}

.timeline-content:hover {
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.02);
}

.timeline-content::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px var(--main-color);
}

.left .timeline-content::after {
  right: -57px;
}

.right .timeline-content::after {
  left: -57px;
}

.timeline-date {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.timeline-content h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.timeline-content p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-content::after {
    left: -45px !important;
  }
}

.cv-btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  background: var(--second-bg-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}

.cv-btn:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 25px var(--main-color);
}

.cv-btn i {
  font-size: 2rem;
}
